extends ../layout.jade
block contenido
    .container
        .row
            .col-sm-9.col-md-7.col-lg-5.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center Editar Rubro
                        form.form-signin(action="/admin/rubros/#{rubro._id}?_method=PUT", method= "POST")
                            fieldset(disabled='' style="display:none")
                                .form-label-group
                                    label(for='id') Identificador
                                    input#disabledTextInput.form-control(type='text', name='_id', placeholder='Enter Descripcion', value="#{rubro._id}")
                            .form-label-group
                                input#inputDescripcion.form-control(type='text', name='descripcion', placeholder='Enter Descripcion', value="#{rubro.descripcion}", required, autofocus)
                                label(for='descripcion', onclick="document.getElementById('inputDescripcion').focus();") Descripcion
                            .form-label-group
                                select.form-control.custom-select.custom-select-md.mb-3(name='servicio')
                                    option #{rubro.servicio.descripcion}
                                    for s in servicios
                                        if s.descripcion != rubro.servicio.descripcion
                                            option #{s.descripcion}
                            .form-label-group
                                if messageServicio.length > 0
                                    for msg in messageServicio
                                        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
                                            strong #{msg}
                                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                                                span(aria-hidden='true') &times;
                            button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type='submit') Registrar Rubro
                            hr.my-2
                            a.btn.btn-lg.btn-google.btn-block.text-uppercase(href='/admin/rubros') Cancelar
